/* HomePage.css */
.home-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    text-align: center;
  }
  
  .cta-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
